@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the record shop!</h1>
    <p> Here you can find the best records of your favorite artist.</p>
    <img src ="~/images/logo.jpg" height="200" width="400" />
</div>
